html, body {
height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
#push, #footer {
	height: 40px;
}
#footer {
	background-color: #02BEF3;
}
#wrap > .container {
padding-top: 85px;
}
.header .navbar-inner{
	background: #589cdd;
	border: none;
	height: 85px;
}
.header .navbar-inner .nav {
	top: 45px;
}

.header .navbar-inverse .nav .active > a, .header .navbar-inverse .nav .active > a:hover,.header .navbar-inverse .nav .active > a:focus {
color: #589cdd;
background-color: #FFF;
}

.header .navbar .nav > .active > a,.header .navbar .nav > .active > a:hover,.header .navbar .nav > .active > a:focus {
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
}

.header .navbar .nav li {
	margin-right: 5px;
}

.header .brand {
	width: 194px;
	height: 58px;
	background-color: #02BEF3;
	padding: 27px 0 0 0;
	margin-right:20px; 
	text-align: center;
}
.header .brand img {
	display: inline-block;
}
.header .social-login {
	padding: 9px 0 0 0;
	height: 76px;
	width: 250px;
	background-color: #FFF;
}
.header .twitter-btn {
	background: url(../images/social-icons-sprite.png) scroll no-repeat 0px -2px transparent;
	height: 31px;
	width: 198px;
	margin: 0 auto 5px;
	cursor: pointer;
}
.header .facebook-btn {
	background: url(../images/social-icons-sprite.png) scroll no-repeat 0 -39px transparent;
	height: 31px;
	width: 198px;
	margin: 0 auto;
	cursor: pointer;
}
.home.container-fluid {
	padding-top: 85px;
	margin: none;
}
