<div id="wrap">
	<div id="header" class="header">
		<div class="navbar navbar-inverse navbar-fixed-top">
	      	<div class="navbar-inner">
	        	<div class="container">
	          		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	          		</button>
		          	<div class="brand">
		          		<a href="#">
		          			<img src="@routes.Assets.at("images/logo.png")" title="Yo Reciclo" />
		          		</a>
		          	</div>
		          	<div class="nav-collapse collapse">
		          		<div class="navbar-text pull-right">
			              NANANANANAN
            			</div>
		            	<ul class="nav">
		              		<li class="active">
		              			<a href="#">¿Cómo reciclamos?</a>
		              		</li>
		              		<li class="active">
		              			<a href="#about">¿Cómo reciclamos?</a>
		              		</li>
		              		<li class="active">
		              			<a href="#contact">¿Cómo reciclamos?</a>
		              		</li>
		            	</ul>
		          	</div>
	        	</div>
	    	</div>
		</div>
	</div>
      	

	