@import com.feth.play.module.pa.views.html._


<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Yo reciclo</title>
        

      <meta property="og:type" content="article" />
      <meta property="og:title" content="Revenue watch - Data Tool" />
      <meta property="og:description" content="The Resource Governance Index (RGI) measures the level of transparency and accountability in the oil, gas and mining sectors of 58 countries." />
      <meta property="og:site_name" content="revenuewatch.org" />
      <meta property="og:image" content="http://www.sadnessdiscos.com.ar/images/jackson.jpg" />
      <meta property="og:url" content="http://yoreciclo2013.herokuapp.com" />
		
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/yoReciclo.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/registration.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/registration.js")" type="text/javascript"></script>
		
        <script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOxacNgvjqDguY2ALWc-QvzuMXTRLSDM4&sensor=true"></script>
		<script src="@routes.Assets.at("javascripts/pointInPolygon.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/cooperativas.js")" type="text/javascript"></script>
    </head>
    <body>
		<div id="wrap">
			<div id="header" class="header">
				<div class="navbar navbar-inverse navbar-static-top">
			      	<div class="navbar-inner">
						<div class="container">
				          	<div class="brand">
				          		<a href="#">
				          			<img src="@routes.Assets.at("images/logo.png")" title="Yo Reciclo" />
				          		</a>
				          	</div>

				          	<div class="nav-collapse collapse">
				          		<div class="navbar-text pull-right social-login">
					            		@forProviders() { p =>
 										   
							               <div class="@p.getKey()-btn">
							               		<a style="width:100%;height:100%; display:block;" href="@p.getUrl()"></a>
							               </div>
										}
										
										@currentAuth() { auth =>
	 									   @if(auth != null) {
	        									<a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">Logout</a>
	    									}
										}
				            	</div>
	            			</div>
			          	</div>
			    	</div>
				</div>
			</div>
  	

	