@(title: String)(content: Html)
	<div class="container home">
		<div class="row">
 	 		<div class="span3 sidebar">
 	 			<div class="boxesContainer">
 	 				<div class="boxes"></div>
 	 				<div class="boxes"></div>
 	 				<div class="boxes"></div>
 	 				<div class="boxes"></div>
					<div class="boxes"></div>
 	 				<div class="boxes"></div>
 	 				<div class"></div>
 	 			</div>
 	 		</div>
 	 		<div class="span9 map">
 	 			<div class="mapIntro">
 	 				<h4>Registrate y averigua que cooperativas trabajan por tu zona
 	 				y conoce que materiales juntan los recuperadores de tu barrio</h4>
 	 			</div>
  				<div id="map-canvas" style=" height:570px; width:90%; margin-bottom:20px";"></div>
  			</div>
		</div>

	
	</div>
	<div id="push"></div>
	
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

</div>
