
<div id="registration" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Registración!!!</h3>
  	</div>
	<div class="formContainer step1">
		<form id="registerStep1" action="#" onSubmit="YORECICLO.Register.subMission(1)">
    		<fieldset>
			    <legend>Step 1</legend>
			    <label>FB Log in</label>
			    <span class="help-block">LOG CON FACEBOOK</span>
			    <button type="submit" class="btn">Submit</button>
		  	</fieldset>
		</form>
	</div>
	<div class="formContainer step2">
		<form id="registerStep2" action="#" onSubmit="YORECICLO.Register.subMission(2)">
    		<fieldset>
			    <legend>Step 2</legend>
			    <label>Que vas a juntar?</label>
			    <span class="help-block">Seleccioná que cosas reciclás</span>
				<select multiple="multiple">
				  <option>Vidrio</option>
				  <option>Cartón</option>
				  <option>Plásticos</option>
				  <option>Pilas</option>
				  <option>Aceite</option>
				</select>
			    <button type="submit" class="btn">Submit</button>
		  	</fieldset>
		</form>
	</div>
	<div class="formContainer step3">
		<form id="registerStep3" action="#" onSubmit="YORECICLO.Register.subMission(3)">
    		<fieldset>
			    <legend>Step 3</legend>
			    <label>Mapa</label>
			    <input type="text" placeholder="Poné la dirección....">
			    <button type="submit" class="btn">Submit</button>
		  	</fieldset>
		</form>
	</div>
	<div class="formContainer step4">
		<h1>FIESTA</h1>
	</div>
</div>
