

@import com.feth.play.module.pa.views.html._
@header()
	<div id="approximateAddress" class="hide"></div>

	<div id="registration" class="container">
		<div class="row">
			<div class="span12">
				<div class="formContainer">
					<h2>Ya estás registrado</h2>
					<h5>Solo necesitamos algunos datos más para registrar que materiales estás dispuesto a juntar y donde te ubicás geográficamente</h5>
					<form id="registerStep1" class="registrationFormModal">
			    		<fieldset>
						    <label>Que vas a juntar?</label>
						    <span class="help-block">Seleccioná que elementos vas a separar para su posterior reciclado</span>
							<div class="row">
								<div class="material span2">
									<div class="icon plastico" data-material="Plastico"></div>
									<div class="label">Plastico</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
								<div class="material span2">
									<div class="icon plastico"></div>
									<div class="label">aa</div>
								</div>
							</div>
						    <button type="submit" class="btn">Submit</button>
					  	</fieldset>
					</form>
				</div>
				<div class="formContainer">
					<form id="registerStep2" class="registrationFormModal">
			    		<fieldset>
						    <label>Ingresa tu direccion: </label>
							<input id="address" type="text"/>
						    <button type="submit" class="btn">Submit</button>
					  	</fieldset>
					</form>
				    <div id="map-registration" style=" height:300px; width:100%; display:none;"></div>
				</div>
				<div class="formContainer step3">
					<h1>FIESTA</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="push"></div>
</div>
@footer()
<script type="text/javascript">
YORECICLO.Maps.initRegitrationMap();
$(".icon").click(function(){
	alert($(this).attr('data-material'));
	if(!$(this).hasClass('disabled')){
		$(this).addClass("disabled");
	}
	else{
		$(this).removeClass("disabled");
	}
});
</script>